TestReforzamiento/Web References/reforzamiento/Asistencias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:23968/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost:23968/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:23968/">
      <s:element name="DecryptQR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptQRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptQRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmaAsistencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="asistencia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmaAsistenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmaAsistenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PJsonResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="asistencia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PJsonResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PJsonResultResult" type="tns:Resultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="alumno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="evento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expositor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ingreso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salida" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="asistencia" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DecryptQRSoapIn">
    <wsdl:part name="parameters" element="tns:DecryptQR" />
  </wsdl:message>
  <wsdl:message name="DecryptQRSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptQRResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmaAsistenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmaAsistencia" />
  </wsdl:message>
  <wsdl:message name="ConfirmaAsistenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmaAsistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="PJsonResultSoapIn">
    <wsdl:part name="parameters" element="tns:PJsonResult" />
  </wsdl:message>
  <wsdl:message name="PJsonResultSoapOut">
    <wsdl:part name="parameters" element="tns:PJsonResultResponse" />
  </wsdl:message>
  <wsdl:portType name="AsistenciasSoap">
    <wsdl:operation name="DecryptQR">
      <wsdl:input message="tns:DecryptQRSoapIn" />
      <wsdl:output message="tns:DecryptQRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmaAsistencia">
      <wsdl:input message="tns:ConfirmaAsistenciaSoapIn" />
      <wsdl:output message="tns:ConfirmaAsistenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PJsonResult">
      <wsdl:input message="tns:PJsonResultSoapIn" />
      <wsdl:output message="tns:PJsonResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsistenciasSoap" type="tns:AsistenciasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DecryptQR">
      <soap:operation soapAction="http://localhost:23968/DecryptQR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaAsistencia">
      <soap:operation soapAction="http://localhost:23968/ConfirmaAsistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PJsonResult">
      <soap:operation soapAction="http://localhost:23968/PJsonResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsistenciasSoap12" type="tns:AsistenciasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DecryptQR">
      <soap12:operation soapAction="http://localhost:23968/DecryptQR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmaAsistencia">
      <soap12:operation soapAction="http://localhost:23968/ConfirmaAsistencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PJsonResult">
      <soap12:operation soapAction="http://localhost:23968/PJsonResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Asistencias">
    <wsdl:port name="AsistenciasSoap" binding="tns:AsistenciasSoap">
      <soap:address location="http://localhost:23968/Asistencias.asmx" />
    </wsdl:port>
    <wsdl:port name="AsistenciasSoap12" binding="tns:AsistenciasSoap12">
      <soap12:address location="http://localhost:23968/Asistencias.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>